
<jqxMenu #jqxMenu 
         [width]="'100%'"
         [height]="'100%'"   contextmenu="true">
  <ul class="jqx-menu">
    <li><a routerLink="/admin/dashboard">DashBoard</a></li>
    <li>
      Master
      <ul>
        <li><a routerLink='/admin/visitor'>Visitor Master</a></li>
        <li><a routerLink='/admin/employee'>Employee Master</a></li>
        <li><a routerLink='/admin/department'>Department Master</a></li>
      </ul>
    </li>
<li  (click)="logout()">Logout</li>

    <!-- <li>
      Products
      <ul>
        <li><a href="admin/visitor">PC products</a></li>
        <li><a href="#MobileProducts">Mobile products</a></li>
        <li><a href="#AllProducts">All products</a></li>
      </ul>
    </li>
    <li>
      Support
      <ul style='width: 200px;'>
        <li><a href="#SupportHome">Support home</a></li>
        <li><a href="#CustomerService">Customer Service</a></li>
        <li><a href="#KB">Knowledge base</a></li>
        <li><a href="#Books">Books</a></li>
        <li><a href="#Training">Training and certification</a></li>
        <li><a href="#SupportPrograms">Support programs</a></li>
        <li><a href="#Forums">Forums</a></li>
        <li><a href="#Documentation">Documentation</a></li>
        <li><a href="#Updates">Updates</a></li>
      </ul>
    </li>
    <li>
      Communities
      <ul style='width: 200px;'>
        <li><a href="#Designers">Designers</a></li>
        <li><a href="#Developers">Developers</a></li>
        <li><a href="#Educators">Educators and students</a></li>
        <li><a href="#Partners">Partners</a></li>
        <li type='separator'></li>
        <li>By resource</li>
      </ul>
    </li>
    <li>
      Company
      <ul style='width: 180px;'>
        <li><a href="#About">About Us</a></li>
        <li><a href="#Press">Press</a></li>
        <li><a href="#Investor">Investor Relations</a></li>
        <li><a href="#CorporateAffairs">Corporate Affairs</a></li>
        <li><a href="#Careers">Careers</a></li>
        <li><a href="#Showcase">Showcase</a></li>
        <li><a href="#Events">Events</a></li>
        <li><a href="#ContactUs">Contact Us</a></li>
        <li><a href="#Become an affiliate">Become an affiliate</a></li>
      </ul>
    </li> -->
  </ul>
</jqxMenu>
